/*-- scss:defaults --*/
// Base document colors
$body-bg: #2f2f2f;
$body-color: #f1f1f1;
$link-color: #75AADB;

// Navbar colors
$navbar-bg: #001336;  /*-- #264867; --*/

// Code blocks
$code-block-bg-alpha: -.8;

/* Force heading colors in dark mode (Quarto adds anchors) */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #60A5FA !important;
}